
// tablet
@media (min-width: 768px) and (max-width: 1024px){

}


// mobile
@media (max-width: 767px){

  #header, #footer{
    margin:0;
  }

  .main{
    margin:0px;

    .hero{
      .logo{
        display:none;
      }

      .mobilelogo{
        display:block;
      }
    }

    .titlebox{
      .title{
        font-size:65px;
        padding-left:4%;
      }
    }

    .row{
      display:block;
      img{
        height:350px;
        width:100%;
      }

      .info{
        width:100%;
        
      }
    }

    .rowreverse{
      display:block;
      img{
        width:100%;
      }

      .info{

      }
    }
  }
}
