@mixin verticalalign{
  position: relative;
  top: 40%;
  transform: translateY(-40%)
}

@mixin largetitles{
  font-family:source sans pro;
  color:white;
  font-size:80px;
  text-transform:uppercase;
  text-align:center;
  margin:0;
}

body, h1, h2, h3, p{
  margin:0;
}



.main{
  margin:0;

  .volunteer{
    @include largetitles;
    font-size:150px;
    color:white;
    padding-top:100px;
    background-image:
    linear-gradient(
          rgba(black, .5),
          rgba(black, .5)
        ),
    url("../images/james.jpg");
    background-size:cover;
    background-position:center;
    height:300px;
  }
}

  .image{
    box-sizing:border-box;
    border: 4px solid white;
    height:450px;
    width:25%;
    margin-top:20px;
    margin-bottom:20px;

    .infotitles{
      @include largetitles;
      margin-top:99%;
      padding-top:20%;

      a{
        text-decoration:none;
        color:white;
      }
    }
 }

  .heroimage{
    background:
    linear-gradient(
          rgba(black, .3),
          rgba(black, .3)
        ),
    url("../images/rainforest.jpg");
    background-size:cover;
    background-position:bottom;
    height:450px;
    width:100%;
    margin-bottom:20px;

    .heroinfobox{
      margin:0;
      padding:1%;

    .logo{
      display:block;
      margin:0 auto;
      margin-top:170px;
    }

    .mobilelogo{
      display:none;
    }
   }
  }

  .image1{
    clear:both;
    background-image:url("../images/plant.jpg");
    background-size:cover;
    background-position:center;
    float:left;
    position:relative;
  }

  .image2{
    background-image:url("../images/butterfly.jpg");
    background-size:cover;
    background-position:center;
    float:left;
    position:relative;
  }

  .image3{
    background-image:url("../images/rainforest.jpg");
    background-size:cover;
    background-position:center;
    float:left;
    position:relative;
  }

  .image4{
    background-image:url("../images/sloth 2.jpg");
    background-size:cover;
    background-position:center;
    float:left;
    position:relative;
  }
