
// tablet
@media (min-width: 768px) and (max-width: 1024px){

  #header{
    ul{
      padding:5px 0 0 0;
      li{
        font-size:25px;
        padding:3%;
      }
    }
  }

  #footer{
    img{
      height:60px;
      padding-top:2%;
    }
    ul{
      padding-top:4%;
      word-spacing:2rem;
    }
  }

  .main{
    margin:0;
  }

    .image{
      box-sizing:border-box;
      border: 4px solid white;
      height:450px;
      width:50%;
      display:block;
      margin-bottom:20px;

      .infotitles{
        @include largetitles;
        font-size:100px;
        margin-top:50%;
        // padding-top:20%;

        a{
          text-decoration:none;
          color:white;
        }
      }
   }
}

// mobile
@media (max-width: 767px){

  #header, #footer{
    margin:0;
  }

  #header{
    ul{
      padding:25px 0 0 0;

      li{
        font-size:25px;
        padding:2%;
      }
    }
  }

  #footer{
    a{
      img{
        float:none;
        display:block;
        margin:0 auto;
        padding-top:10px;
        height:60px;
      }
    }
    ul{
      word-spacing:1rem;
      position:relative;
      bottom:15px;
      left:83px;

      li{
        font-size:15px;
      }
    }
  }

  .main{
    margin:0;

    .volunteer{
      @include largetitles;
      font-size:60px;
      color:black;
      background-image:none;
      height:70px;
      padding:0;
    }
  }

    .image{
      width:100%;
      display:block;
      margin:0;

      .infotitles{
        @include largetitles;
        margin-top:21%;
        font-size:140px;

        a{
          text-decoration:none;
          color:white;
        }
      }
    }

    .heroimage{
      margin:0;
      height:300px;
      width:100%;

      .heroinfobox{
        margin:0;
        padding:1%;

      .logo{
        display:none;
      }

      .mobilelogo{
        display:block;
        margin:0 auto;
        padding-top:150px;
      }
     }
    }
  }
